<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>info-viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Clima en Ubicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div *ngIf="clima" class="weather-info" id="container" >
    <h3>Clima en Santiago, Chile</h3>
    <p>Temperatura: {{ clima.main.temp }} °C</p>
    <p>Humedad: {{ clima.main.humidity }} %</p>
  </div>
  <div *ngIf="!clima" class="loading">
    <p>Cargando datos del clima...</p>
  </div>
</ion-content>



<ion-footer>
  <ion-toolbar>
    <ion-title class="foot"></ion-title>
    <div class="square">
      <img src="http://purepng.com/public/uploads/large/purepng.com-car-wheelcar-wheelcarwheeltire-1701527840615iovkz.png" alt="">
    </div>
  </ion-toolbar>
</ion-footer>