<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>info-viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">info-viaje</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title class="foot"></ion-title>
    <div class="square">
      <img src="http://purepng.com/public/uploads/large/purepng.com-car-wheelcar-wheelcarwheeltire-1701527840615iovkz.png" alt="">
    </div>
  </ion-toolbar>
</ion-footer>