.btn{
    background-color: #229799;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 20px 10px 10px 10px;
}
#container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 10%;
}
ion-input{
    border: 10px;
    margin-bottom: 5px;
}
h1{
    text-align: center;
    color: #424242;
    font-size: 20px;
    margin-bottom: 10px;
}
