<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title class="margen">Informacion</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content fullscreen="true">
      <div class="container">
        <img src="/assets/icon/user-interface.png" alt="" width="150px">
        <div>
            <ion-card>
              <ion-card-header >
                <h4>usuario: {{ user }}</h4>
                
              </ion-card-header>
            </ion-card>
        </div>
      </div>

    </ion-content>
    
