.btn{
    background-color: #229799;
    color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 15px;
    font-size: 15px;
    margin: 20px 10px 10px 10px;
}
#container{
    text-align: center;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 30%;
}
h1{
    text-align: center;
    color: #424242;
    font-size: 20px;
    margin-bottom: 20px;
}

.foot{
    text-align: center;
    font-size: medium;
  }
  
.square{
    height: 50px;
    width: 50px;
    position: relative;
  }